<section id="summary-page" class="padded-content" infinite-scroll='loadMore()' infinite-scroll-distance='0.5'>
  <span ng-bind="getSummary()"></span>
  <header id="header">
  </header>
  <section id="summary">
    <select id="start-readings" ng-model="selectedStartReading"
            ng-options="date.value for date in startReadings"
            ng-change="updateStartReading()"></select>
    <h2>Summary</h2>
    <div id="summary-details">
      <dl class="summary">
        <dt>Start Reading</dt>
        <dd ng-class="{'invalid': !startReading}">
            <span ng-bind-template="{{startReading | number:1}} kWh"></span>
            <span class="datetime sm-left" ng-class="{'hidden': !startReading}"
                ng-bind-template="({{dateFrom || startDateTime | date:'mediumDate'}})"></span>
        </dd>
        <dt>End Reading</dt>
        <dd ng-class="{'invalid': !latestReading}">
            <span ng-bind-template="{{latestReading | number:1}} kWh"></span>
            <span class="datetime sm-left" ng-class="{'hidden': !latestReading}"
                ng-bind-template="({{dateTo || endDateTime | date:'mediumDate'}})"></span>
        </dd>
        <dt>Current Usage</dt>
        <dd ng-class="{'invalid': !currentUsage}"
            ng-bind-template="{{currentUsage | number:1}} kWh">
        </dd>
        <dt>Elapsed Time</dt>
        <dd ng-class="{'invalid': !elapsedTime}"
            ng-bind-html="elapsedTime | humanizeDuration">
        </dd>
        <dt>Rate per kWh</dt>
        <dd ng-class="{'invalid': !electricityRate}"
            ng-bind-template="{{electricityRate | currency:'P '}}">
        </dd>
        <dt>Current Cost</dt>
        <dd ng-class="{'invalid': !currentCost}"
            ng-bind-template="{{currentCost | currency:'P '}}">
        </dd>
        <dt>Ave Usage per day</dt>
        <dd ng-class="{'invalid': !aveUsagePerDay}"
            ng-bind-template="{{aveUsagePerDay | number:1}} kWh">
        </dd>
        <dt>Ave Cost per day</dt>
        <dd ng-class="{'invalid': !aveCostPerDay}"
            ng-bind-template="{{aveCostPerDay | currency:'P '}}">
        </dd>
        <dt>Est. Monthly Usage</dt>
        <dd ng-class="{'invalid': !aveUsagePerDay}"
            ng-bind-template="{{aveUsagePerDay * 30 | number:1}} kWh">
        </dd>
        <dt>Est. Monthly Cost</dt>
        <dd ng-class="{'invalid': !aveCostPerDay}"
            ng-bind-template="{{aveCostPerDay * 30 | currency:'P '}}">
        </dd>
      </dl>
    </div>
    <button class="button button-sm" ng-class="{'info': showFilters}" ng-click="showFilters = !showFilters">
      <span class="glyphicon glyphicon-search"></span>
      <span ng-bind-template="{{' ' + (showFilters ? 'Hide' : 'Show') + ' Search Tools'}}"></span>
    </button>
    <div class="filters" ng-show="showFilters">
      <h3>Search</h3>
      <label for="">by Reading</label>
        <input class="col-6" type="number" min="0" step="0.1" ng-model="readingRange.min" placeholder="Minimum reading">
        <input class="col-6" type="number" min="0" step="0.1" ng-model="readingRange.max" placeholder="Maximum reading">
      <label for="dateFrom">by Date</label>
      <input id="dateFrom" type="text" class="col-6" ng-change="resetLimit()" ng-model="dateFrom" placeholder="From Date (MMM D, YYYY)" datetime-picker="date">
      <input type="text" class="col-6" ng-change="resetLimit()" ng-model="dateTo" placeholder="To Date (MMM D, YYYY)" datetime-picker="date">
      <!--<button class="button button-sm" ng-click="downloadResultJson()">
        <span class="glyphicon glyphicon-download-alt"></span>
        Download Data
      </button>-->
    </div>
    <span class="entries-count" ng-bind-template="{{
      'Showing ' + results.length + ' out of '
      + (filteredDates.length != docs.length ? filteredDates.length + ' search results from ' : '')
      + docs.length + ' entries.'
    }}"></span>
    <div id="flip-scroll" class="table-wrap">
      <table id="table-summary">
        <thead>
          <tr>
            <th ng-show="windowWidth <= 800">Entry No.</th>
            <th>Reading</th>
            <th>Date/Time</th>
            <th>Usage</th>
            <th>Duration</th>
            <th>Cost</th>
            <th>Ave.kWh/hr</th>
            <th>Ave.Cost/hr</th>
          </tr>
        </thead>
        <tbody when-scroll-ends="loadMoreRecords()" in-view-container>
          <tr ng-repeat="doc in (filteredReadings = (
                filteredDates = (docs | reverse | dateFilter:dateFrom:dateTo)) | rangeFilter:readingRange
              ) | limitTo:limit as results" class="animate"
              ng-init="doc.date = (doc._id | date:'mediumDate'); doc.time = (doc._id | date:'shortTime')">
            <td class="entry-count" ng-show="windowWidth <= 800" ng-bind="$index + 1"></td>
            <td ng-bind-template="{{doc.reading | number:1}}"></td>
            <td>
                <span class="datetime" ng-bind="doc.date"></span>
                <span class="datetime" ng-bind="doc.time"></span>
            </td>
            <td ng-bind-template="{{doc.usage | number:1}}"
                ></td>
            <td ng-bind-html="doc.duration | humanizeDuration"></td>
            <td ng-bind-template="{{doc.cost | currency:'P '}}" class="no-wrap"></td>
            <td ng-bind-template="{{doc.aveUsagePerHour | number:1}}"></td>
            <td ng-bind-template="{{doc.aveCostPerHour | currency:'P '}}" class="no-wrap"></td>
          </tr>
          <tr ng-hide="limit > docs.length || limit > results.length || limit > filteredReadings.length">
              <td colspan="8">
                <span class="load-more" ng-class="{'hidden': windowWidth <= 800}">
                  <img src="/img/ajax-loader.gif" alt="load-icon"> Loading more...
                </span>
                <button class="load-more"  ng-class="{'hidden': windowWidth > 800}" ng-click='loadMore(1)'>Load More</button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</section>